@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
  position: relative;
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

@layer base {
  .slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    @apply bg-grayish;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@layer base {
  input:checked + .slider {
    @apply bg-purple;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
  width: 40px;
}

.slider.round:before {
  border-radius: 50%;
}
